html { height:100%; }
form { margin-bottom: 1em; }

      .chat-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex: 1;

        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      .chat-messages {
        flex: 3;
        overflow-y: auto;
      }
      ul, ul.panel-body {
          margin: 0;
          padding: 0;
      }

      .odd {
        background: #eee;
      }

      .message-row {
          list-style-type: none;
          padding: 4px 12px;
          display: flex;
      }
      .message-row img {
        padding-right: 1em;
        /* flex: auto; */
        border-radius: 15px;
      }
      .message-row p {
        /* flex: auto; */
      }

      .me {
        /* justify-content: flex-end; */
        flex-direction: row-reverse;      }

      .me img{
        padding-right: 0;
        padding-left: 1em;
      }

      .me p {
        text-align: right;
      }

      .message-username {
        font-weight: bold;
      }
      .message-message {
        display: block;
      }

      .message-username + .timestamp {
        padding-left: 8px;
      }

      .timestamp {
        font-style: italic;
/*        display: block; */
      }

.container {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.sidebar {
  width: 15em;
  background-color: #222;
  color: #bbb;
}

.sidebar .section-header {
  margin: 1em 1.5rem;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  color: #777;
}

.user-list {
  padding: 0;
  list-style: none;
}

.user-list li {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.user-list li:hover {
  color: #fff;
  background-color: #555;
}

.user-list li img {
  height: 1.5em;
  display: block;
  margin-left: 1.5rem;
}

.user-list li a {
  color: inherit;
  padding: 0.5em 1.5rem;
  display: block;
  flex: 1;
}

.user-list li a:hover,
.user-list li a:focus,
.user-list li a:active {
  text-decoration: none;
}
